<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Médicos</title>
</head>
<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link active" aria-current="page" href="#">Formulario</a>
            </div>
          </div>
        </div>
      </nav>
    <h2>Buenas tardes Médico</h2>
    
    <form action="guardarmedico" method="POST">
        <label for="txtNombre">Nombre:</label>
        <input type="text" id="txtNombre" name="txtNombre" required><br>

        <label for="txtApellido_p">Apellido Paterno:</label>
        <input type="text" id="txtApellido_p" name="txtApellido_p" required><br>

        <label for="txtApellido_m">Apellido Materno:</label>
        <input type="text" id="txtApellido_m" name="txtApellido_m" required><br>

        <label for="txtRFC">RFC:</label>
        <input type="text" id="txtRFC" name="txtRFC" required><br>

        <label for="txtCedula">Cédula:</label>
        <input type="text" id="txtCedula" name="txtCedula" required><br>

        <label for="txtCorreo">Correo:</label>
        <input type="email" id="txtCorreo" name="txtCorreo" required><br>

        <label for="txtContrasena">Contraseña:</label>
        <input type="password" id="txtContrasena" name="txtContrasena" required><br>

        <button type="submit">Guardar Médico</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

